<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yankees.soundcheck.mobile"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/soundcheck_logo_small"
        android:label="@string/app_name"
        android:theme="@style/ControlScreen">
        <activity
            android:name="com.yankees.soundcheck.SoundCheck_Activity"
            android:label="@string/app_name">
            <!--  android:theme="@android:style/Theme.NoTitleBar">--> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yankees.soundcheck.Peer_Activity" android:label="Zones"></activity>
        <activity android:name="com.yankees.soundcheck.Song_Activity" android:label="Songs"></activity>
        <activity android:name="com.yankees.soundcheck.AddSong_Activity" android:label="Add Song"></activity>
    </application>

</manifest>